@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Orbitron", sans-serif;
}

header {
  text-align: center;
  color: #ffe81f;
  background-color: rgb(0, 0, 0);
  padding: 1.5rem;
}

h1 {
  font-weight: 800;
}

h2 {
  margin-bottom: 0.5rem;
}

.starships-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto;
}

.starship-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 150px;
  width: 300px;
  margin: 1rem;
  padding: 1rem;
  color: #fff;
  background-color: #2f4858;
  border-radius: 0.5rem;
}

.ship-stats {
  max-width: 90%;
  text-align: left;
}

.stats-title {
  font-size: 0.8rem;
  font-weight: 800;
}

p {
  font-size: 0.7rem;
  margin-top: 5px;
}
